<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=
                   "${visitor != null} ?
                   ${visitor} + ', I hope you interested to hire me':
                   'This is my CV'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        * {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
        }

        .underline {
          border-bottom: 4px solid;
        }

        .description {
          border-bottom-color: #336680;
        }

        .education {
          border-bottom-color: #80b3e6;
        }

        .bio {
          border-bottom-color: #e64d4d;
        }

        header {
          font-family: "Asap", sans-serif;
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          z-index: 100;
          background: rgba(255, 255, 255, 0.875);
        }
        header nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }
        header nav a {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          padding: 1em;
          margin: 0 1em;
          max-width: 12em;
          min-width: 8em;
          height: 3em;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 100%;
          color: #444;
        }
        header nav a:hover {
          background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fff));
          background: linear-gradient(#efefef, #fff);
        }
        header .menu {
          display: none;
        }

        .section {
          min-height: 100vh;
          font-family: "Asap", sans-serif;
          padding: 3em 2em 1em 2em;
        }
        .section h2 {
          text-transform: uppercase;
          display: inline-block;
          padding-bottom: 4px;
          padding-left: 8px;
          padding-right: 8px;
          margin-bottom: 0;
        }

        #description {
          background: rgba(51, 102, 128, 0.875);
          padding-top: 3em;
          position: relative;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
        #description::after {
          background: url("https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=1950&q=80") center center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          content: "";
        }
        #description .left,
        #description .right {
          padding: 2vmax;
        }
        #description .left {
          -webkit-box-flex: 3;
              -ms-flex: 3;
                  flex: 3;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }
        #description .left #picture {
          border-radius: 50%;
          background: url("https://pbs.twimg.com/profile_images/554798224154701824/mWd3laxO_400x400.png");
          background-size: 280px 280px;
          width: 25vw;
          min-width: 186.6666666667px;
          max-width: 280px;
          height: 25vw;
          min-height: 186.6666666667px;
          max-height: 280px;
        }
        #description .right {
          font-size: 150%;
          -webkit-box-flex: 7;
              -ms-flex: 7;
                  flex: 7;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }
        #description .right h1 {
          text-align: center;
        }
        #description .right p {
          text-align: justify;
        }
        #description .right p::first-letter {
          font-size: 125%;
          font-weight: bold;
        }

        #education {
          background: #f4f4f4;
        }
        #education .history {
          border-left: 4px solid;
          padding: 24px 0;
          position: relative;
        }
        #education .history .entry {
          background: white;
          padding: 0.5em 2em;
          max-width: 64em;
          border-radius: 0 12px 12px 0;
          margin-bottom: 24px;
        }
        #education .history .entry .time {
          color: #bfbfbf;
        }
        #education .history .entry .time::before {
          content: "\2014\ [";
        }
        #education .history .entry .time::after {
          content: "]";
        }
        #education .history::after {
          content: "";
          position: absolute;
          bottom: -14px;
          left: -16px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }

        #education .history {
          border-left-color: #80b3e6;
        }
        #education .history::after {
          background: #80b3e6;
        }

        #bio ul {
          list-style-type: none;
        }
        #bio a {
          text-decoration: none;
          color: #e64d4d;
        }
        #bio .info {
          border: 1px solid #fdd;
          width: 192px;
          padding: 12px 16px;
          margin: 12px;
          vertical-align: top;
        }
        #bio .info .img {
          width: 160px;
          height: 160px;
          margin: 0 auto;
          border: 4px solid;
          border-radius: 12px;
        }
        #bio .info .title {
          text-align: center;
          min-height: 2.5em;
          margin: 0.5em 0;
        }
        #bio .info .title a:hover {
          color: #c22;
        }

        footer {
          background: #444;
          color: #ccc;
          font-size: 90%;
          min-height: 8em;
          padding: 1em;
          text-align: center;
        }
        footer a {
          color: #ccc;
          font-weight: bold;
          text-decoration: none;
        }
        footer a:hover {
          color: #fff;
        }

        @media (max-width: 801px) {
          header {
            width: 80vw;
          }
          header .menu.toggled + nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
          }
          header nav {
            display: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
          }
          header nav a {
            max-width: 100%;
          }
          header .menu {
            color: white;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            display: block;
            background: #333;
            position: fixed;
            right: 2.5vw;
            max-width: 80px;
            max-height: 80px;
            width: 12.5vw;
            height: 12.5vw;
            padding: 4.1666666667vw 0;
            margin-top: 2.5vw;
            border-radius: 4px;
            -webkit-box-shadow: 0 -2px 0px 1px #000 inset;
                    box-shadow: 0 -2px 0px 1px #000 inset;
          }
          header .menu:hover {
            background: #444;
          }

          #description {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
          }
        }


    </style>
</head>
<body>
<header>
    <a href="#" class="menu">MENU</a>
    <nav>
        <a href="#description" class="description underline">Description</a>
        <a href="#education" class="education underline">Education</a>
        <a href="#bio" class="bio underline">Bio</a>
    </nav>
</header>

<section class="section" id="description">
    <div class="left">
        <div id="picture">
        </div>
    </div>
    <div class="right">
        <article>
            <h1 id="name">Ariel Miki Abraham</h1>
            <p>Bonjour!</p>
            <p>Let me introduce myself! I am a Computer Science Student. I hate deadline. I hope there is no deadline. Deadline is bad. Everyone hate deadline. Deadline deadline deadline. Thanks</p>
        </article>
    </div>
</section>

<section class="section" id="education">
    <h2 class="title education underline">Education</h2>
    <div class="history">
        <div class="entry">
            <h3>
                <span class="place">University of Indonesia</span>
                <span class="time">2013-Present</span>
            </h3>
            <p>Bachelor's Degree at Computer Science.</p>
        </div>
        <div class="entry">
            <h3>
                <span class="place">SMAN 3 Depok</span>
                <span class="time">2013-2016</span>
            </h3>
            <p>Measuring Mathematic and Science.</p>
        </div>
    </div>
</section>

<section class="section" id="bio">
    <h2 class="title bio underline">Bio</h2>

    <ul>
        <li class="info">
            <h4 class="title">Name : Gopher</h4>
        </li>
        <li class="info">
            <h4 class="title">Birth Date : 0-0-0000</h4>
        </li>
        <li class="info">
            <h4 class="title">Birth Place : Internet</h4>
        </li>
        <li class="info">
            <h4 class="title">Location : World</h4>
        </li>
    </ul>
</section>

<footer class="footer">
    <p>Template by: <a href="https://github.com/rsalgado">Roberto Salgado.</a></p>
    <p>Modify by: <a href="https://gitlab.com/arielmikiabraham">Miki.</a></p>
</footer>
<script>
    $(document).ready(function() {
      $("header .menu").on("click", function(evt) {
        evt.preventDefault();
        $(this).toggleClass("toggled");
      });
      $("header nav").on("click", "a", function() {
        $(this).closest("header").find(".menu.toggled").toggleClass("toggled");
      });
    });
</script>
</body>
</html>
